

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*
 *
 * Common
 *
 */

.news__more {
  float: right;
  font-size: .8em;
  color: #333;
  text-decoration: none;
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  min-height: 56px;
  transition: min-height 0.3s;
  max-width: 951px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.header__menu {
  flex-basis: 12%;
  /*background: lightgrey;*/

}

#menu svg {
  position: relative;
  top: 23px;
  width: 40px;
  fill: black;
}

.header__inner {
  flex-basis: 88%;
/*  margin-left: auto;
  margin-right: auto;*/
}

.header__logo {
  height: 72px;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__title {
  font-weight: 300;
  font-size: 2.25em;
  margin-top: 1em;
  /*text-align: center;*/
  display: inline-block;
  color: #212121;
}


/*
 *
 * Top Level Navigation
 *
 */

nav {
  width: 100%;
  height: 200px;
/*  margin-left: auto;
  margin-right: auto;*/
  max-width: 950px;
  /*position: absolute;*/
  background: #2e3d49;
  transform: translate(0, -300px);
}

nav.open {
  transform: translate(0, 0);
}

/*nav.open {
  transform: translate(0, 300px);
}
*/
.nav__list {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.nav__item {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 25%;
  text-align: center;
  line-height: 15px;
  padding: 1em;
  text-transform: uppercase;
  border: 1px solid #1c262f;

}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
  color: silver;
}


/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, -200px);
}

main.open {
  transform: translate(0, 0);
}

/*
 *
 * Content
 *
 */


/*
 *
 * Hero
 *
 */

.hero {
  float: left;
  width: 100%;
  position: relative;
  background-image: url("./images/dog.jpg");
  background-size: cover;
  height: 300px;
}

.hero article {
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #fff;
  padding: 1em;
}


/*
 *
 * Top News
 *
 */

.top-news {
  float: right;
  width: 100%;
  height: 100%;
  padding: 2em 1em 2em 1em;
}

.news__title {
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  line-height: 24px;
  font-size: 20px;
}

.top-news__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 0.5em 0;
  line-height: 19.2px;
  font-size: 16px;
}

.top-news__item:before {
  content: "» ";
}

.top-news__item:last-child {
  border-bottom: none;
}

.top-news__item a {
  text-decoration: none;
  color: #666;
}

.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}


/*
 *
 * Sport Scores
 *
 */
/*td {
  display: table-cell;
}*/

table {
  width: 100%;
  border-spacing: 0px;
  padding-left: 1em;
  padding-right: 1em;
}

.second {
  width: 300px;
}

.first {
  width: 32px;
}

.third {
  width: 25px;
}

.fourth {
  width: 25px;
}

.fifth {
  width: 25px;
}

.sixth {
  width: 25px;
}

.seventh {
  width: 25px;
}

.eighth {
  width: 25px;
}

.nineth {
  width: 25px;
}

.tenth {
  width: 25px;
}

.bordering {
  border-bottom: 1px solid #DFE1E5;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 12px;
}

.contentt {
  border-bottom: 1px solid #DFE1E5;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  height: 40px;
  color: rgba(0,0,0,.87);
}

.contentt2 {
  border-bottom: 1px solid #DFE1E5;
  text-align: left;
  font-size: 14px;
  line-height: 14px;
  height: 40px;
  color: rgba(0,0,0,.87);
}

tr:last-child .contentt {
  border-bottom: none;
  padding-bottom: 2em;
}
tr:last-child .contentt2 {
  border-bottom: none;
  padding-bottom: 2em;
}

.group_name {
  text-align: left;
  font-size: 16px;
  padding-left: 0.5em;
}
/*
 *
 * Weather
 *
 */

.weather {
  float: right;
  width: 100%;
  padding: 1em;
}

.weather__location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather__desc {
  display: block;
  font-size: 1.2em;
}

.weather__today {
  width: 100%;
  vertical-align: middle;
}

.weather__next {
  margin-top: 25px;
}

.weather__today__image {
  vertical-align: middle;
  width: 50%
}

.weather__today__temp {
  font-size: 3em;
}

.weather__today__deg {
  font-size: 2em;
  display: inline;
}

.weather__next__item {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.weather__next__item span {
  display: block;
}

.weather__next__image {
  width: 100%;
}


/*
 *
 * Weather
 *
 */

.recent-news {
  clear: both;
  padding: 4em 1em 0.5em 1em;

}

.snippet {
  clear: both;
  margin: 24px 0;
  padding: 0.25em 0;
}

.snippet h3 {
  font-size: 20px;
}

.snippet p {
  font-size: 16px;
  max-width: 50em;
}

@media screen and (max-width: 549px) {
  .snippet__thumbnail {
    display: none;
  }

}

.snippet__thumbnail {
  width: 20%;
  float: left;
  margin-right: 1em;
}

.snippet__title {
  font-weight: 500;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}


/*
 *
 * Footer
 *
 */



footer {
  border-top: 1px solid #E0E0E0;
  padding: 2em 1em 2em 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer li {
  display: inline-block;
  width: 32%;
  /*height: 50px;*/
  text-align: center;
}

footer a {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 30px;
  /*color: #333;*/
}

footer a:hover {
  background: black;
  color: white;
  transform: rotate(360deg);
  transition: all 0.75s ease;
  /*color: #333;*/
}




